.category{
    padding: 0 80px;
    margin-top: 80px;
}

.card {


    margin: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    /* Kartlar arasında boşluk bırakmak için */


    /* Kartın içeriği ve kenarlıkları dahil edilmesi için */
}
.sneakers, .heels{
    margin-bottom: 80px;
}
.add-to-cart {
    margin-top: 10px;
}

.cart-button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.cart-button:hover {
    background-color: #45a049;
}


@media (max-width: 767px) {
    .card {
        flex: 0 0 calc(50% - 20px);
        /* 2 sütunlu düzen için */
    }
}

@media (max-width: 480px) {
    .card {
        flex: 0 0 calc(100% - 20px);
        /* Tek sütunlu düzen için */
    }
}